---
import { getCollection } from "astro:content";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostsByGroupCondition from "@utils/getPostsByGroupCondition";
const posts = await getCollection("blog");
const MonthMap: Record<string, string> = {
  "1": "Janvier",
  "2": "Février",
  "3": "Mars",
  "4": "Avril",
  "5": "Mai",
  "6": "Juin",
  "7": "Juillet",
  "8": "Août",
  "9": "Septembre",
  "10": "Obtobre",
  "11": "Novembre",
  "12": "Décembre",
};
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header activeNav="archives" />
  <Main pageTitle="Archives" pageDesc="Tous les articles archivés.">
    {
      Object.entries(
        getPostsByGroupCondition(posts, (post) =>
          post.data.pubDatetime.getFullYear(),
        ),
      )
        .sort(([yearA], [yearB]) => Number(yearB) - Number(yearA))
        .map(([year, yearGroup]) => (
          <div>
            <span class="text-2xl font-bold">{year}</span>
            <sup class="text-sm">{yearGroup.length}</sup>
            {Object.entries(
              getPostsByGroupCondition(
                yearGroup,
                (post) => post.data.pubDatetime.getMonth() + 1,
              ),
            )
              .sort(([monthA], [monthB]) => Number(monthB) - Number(monthA))
              .map(([month, monthGroup]) => (
                <div class="flex flex-col sm:flex-row">
                  <div class="mt-6 min-w-36 text-lg sm:my-6">
                    <span class="font-bold">{MonthMap[month]}</span>
                    <sup class="text-xs">{monthGroup.length}</sup>
                  </div>
                  <ul>
                    {monthGroup.map(({ data, slug }) => (
                      <Card href={`/posts/${slug}`} frontmatter={data} />
                    ))}
                  </ul>
                </div>
              ))}
          </div>
        ))
    }
  </Main>

  <Footer />
</Layout>
